/*
 * This file is part of the YesWiki Extension comschange.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.append-special-chars {
  background-color: lightgray;
  border-radius: 5px;
  margin-bottom: 3px;
  padding: 2px;
}
.append-special-chars span.btn {
  background-color: lightyellow;
}

.collapse.comment-display:not(.in) {
  display: block !important;
  max-height: 15vw;
  overflow-y: hidden;
  opacity: 0.8;
  height: 15vw !important;
}